<div>
    <form>
        <div class="mx-auto" style="width: 100px;">
            <h5 class="modal-title">Endereço</h5>
        </div>
        <div class="form-group">
            <label for="cep">CEP:</label>
            <input 
                type="text"
                class="form-control"
                id="cep"
                ng-model="vm.enderecoModal.cep"
                maxlength="10"
                
                ng-blur="vm.buscarCep()"/>
        </div>
        <div class="form-group">
            <label for="uf">UF:</label>
            <input
                type="text" 
                class="form-control"
                id="uf"
                ng-model="vm.enderecoModal.uf"
                placeholder="Digite o Estado"
                disabled
            />
        </div>
        <div class="form-group">
            <label for="localidade">Cidade:</label>
            <input 
                type="text"
                class="form-control"
                id="localidade"
                ng-model="vm.enderecoModal.localidade"
                placeholder="Digite o nome da Cidade"
                disabled
                
            />
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input 
                type="text"
                class="form-control"
                id="bairro"
                ng-model="vm.enderecoModal.bairro"
                placeholder="Digite o nome do Bairro"
                disabled
            />
        </div>
        <div class="form-group">
            <label for="logradouro">Logradouro:</label>

            <input 
                type="text"
                class="form-control"
                id="logradouro"
                ng-model="vm.enderecoModal.logradouro"
                placeholder="Digite o Endereco"
                disabled
                
            />
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input 
                type="text"
                class="form-control"
                id="complemento"
                ng-model="vm.enderecoModal.complemento"
                placeholder="Digite o Complemento"
                
            />
        </div>
    </form>
</div>